html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

#fixedBar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    z-index: 100;
    box-shadow: 0px 5px 40px 15px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 5px 40px 15px rgba(0,0,0,1);
    -moz-box-shadow: 0px 5px 40px 15px rgba(0,0,0,1);

}

#warning::before{
    content:'';
    width:0;
    height:100%;
    display:inline-block;
    position:relative;
    vertical-align:middle;
}

#warning {
    width: 100%;
    height: 100%;
    font-size: 0.6rem;
    color: #ffffff;
    background-color: #3b9421;
    letter-spacing: 0em;
    box-shadow: 0px -50px 50px -30px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: 0px -50px 50px -30px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: 0px -50px 50px -30px rgba(0,0,0,0.75) inset;
}

#warning img {
    vertical-align:middle;
    width: 1rem;
    display: inline-block;
    letter-spacing: 3px;
}

.phoneBr {
    height: 0;
    display: block;
}

article,
aside,
footer,
header,
nav,
section {
    display: block
}

figcaption,
figure,
main {
    display: block
}

figure {
    margin: 0
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a:focus,
a:active {
    outline: 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

b,
strong {
    font-weight: inherit
}

b,
strong {
    font-weight: 700
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

dfn {
    font-style: italic
}

abbr[title] {
    border-bottom: 1px #777 dotted;
    text-decoration: none
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -0.25em
}

sup {
    top: -0.5em
}

small {
    font-size: 80%
}

audio,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

img {
    border: 0;
    border-style: none
}

button,
input,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

fieldset {
    padding: 0.35em 0.75em 0.625em
}

legend {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

textarea {
    overflow: auto
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

canvas {
    display: inline-block
}

template {
    display: none
}

[hidden] {
    display: none
}
/* .................... */
.car1{position: absolute;margin: 25% 0 0 0;right: -3rem; animation-iteration-count: infinite;}
.car2{position: absolute;margin: 5% 0 0 0;left: 3rem; animation-iteration-count: infinite;}
.car3{position: absolute;margin: 5% 0 0 0;right: 4rem;animation-iteration-count: infinite;}
.car4{position: absolute;margin: 15% 0 0 0;right: 2rem;animation-iteration-count: infinite;}
@keyframes ben {
  0%   {right:-2rem; top:0.3rem;}
 
  50%  {right:-2.3rem; top:0.1rem;}
 
  100% {right:-2rem; top:0.3rem;}
}
.ben {
  -webkit-animation-name: ben;
  animation-name: ben;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
@keyframes ben2 {
  0%   {left:5rem; top:0.3rem;}
 
  60%  {left:4.9rem; top:0.2rem;}
 
  100% {left:5rem; top:0.3rem;}
}
.ben2 {
  -webkit-animation-name: ben2;
  animation-name: ben2;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
@keyframes ben3 {
  0%   {right:2rem; top:0.3rem;}
 
  50%  {right:1.9rem; top:0.1rem;}
 
  100% {right:2rem; top:0.3rem;}
}
.ben3 {
  -webkit-animation-name: ben3;
  animation-name: ben3;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
@keyframes ben4 {
  0%   {right:2rem; top:0.1rem;}
 
  50%  {right:1.9rem; top:0.3rem;}
 
  100% {right:2rem; top:0.1rem;}
}
.ben4 {
  -webkit-animation-name: ben4;
  animation-name: ben4;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

/* .................... */
.ttxtt{padding: 0 0rem 0 0;}
.tea1{text-align: center;margin-left: 0rem;}
    .tea1 img{width: 23%;float: left;margin: 0.06rem;}
#topBox h1 a,
#topBox h2,
#topBox h3,
#topBox .exchangeBtn,
footer .socialBox a[class^="icon_"],
footer .copyright .classImg,
#CONTENT .event02 .ss,
#PRIZE h4:before,
#PRIZE .bestPrize,
#PRIZE .otherBox h5,
#goTop {
    display: block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    color: transparent;
    font-size: 0
}
.otherBox .list_top{
    height: 2.4rem;
    width: 100%;
    background-image: url(../img/otherbox_bg_top.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top;
}
.otherBox .list{
    color: #333;
    display: block;
    width: 100%;
    background-image: url(../img/otherbox_bg.png);
    background-repeat  : repeat;
    background-position: center;
    background-size: 100% auto;
    text-align: center;
    padding: 0.2rem 0 0rem 0;
}
.otherBox .list_bottom{
    height: 0.7rem;
    width: 100%;
    background-image: url(../img/otherbox_bg_bot.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom;
}
#eventMenu .subMenu a,
footer .socialBox a[class^="icon_"],
footer .linkBox ul>li,
footer .copyright a,
h5:before,
#CONTENT .teaList>li,
#PRIZE h4:before,.emph02 {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline
}

#topBox .exchangeBtn,
footer .socialBox,
h4,
#CONTENT,
#CONTENT .event02,
#PRIZE,
#NOTICE,
#PRIZE .otherBox,
#PRIZE .otherBox ul,
.wrap {
    position: relative
}

#eventMenu .hamburger:before,
#topBox .exchangeBtn:after,
#PRIZE .otherBox ul:before,
#topBox h1,
#topBox h2,
#topBox h3,
#topBox .exchangeBtn,
#PRIZE .otherBox h5,
footer .linkBox ul>li:after,
footer .linkBox ul>li:first-child:before,
footer .linkBox ul>li:nth-child(4):before,
footer .copyright a.privacy:after,
#topBox .exchangeBtn i,
#CONTENT .event02 .ss,
#NOTICE:before,
div[class^="deco"],
#topBox .frontBG,
#topBox .cloud01 {
    position: absolute
}

#eventMenu .navigation .wrap,
footer,
footer .linkBox ul>li a,
h4,
#CONTENT .teaList>li,
#PRIZE table+p,
#PRIZE table th,
#PRIZE table td,
#PRIZE .otherBox ul,
.otherBox,
.txtCenter {
    text-align: center
}

footer .copyright .classImg,
#CONTENT .bigTea,
#PRIZE .bestPrize,
#PRIZE table,
.wrap,
.marginCenter {
    margin-left: auto;
    margin-right: auto
}

div,
a,
ul,
ol,
li,
span,
input,
nav,
main,
section,
header {
    box-sizing: border-box
}

#eventMenu .hamburger:before,
#topBox .exchangeBtn:after,
#topBox .exchangeBtn i:before,
footer .socialBox:before,
footer .linkBox ul>li:after,
footer .linkBox ul>li:first-child:before,
footer .linkBox ul>li:nth-child(4):before,
footer .copyright a.privacy:after,
#PRIZE .otherBox ul:before {
    content: '';
    display: block;
    position: absolute;
    transition: all .3s
}

h4,
h5,
footer .socialBox h6,
#PRIZE table td:first-child {
    font-family: "\5FAE\8F6F\96C5\9ED1", Verdana, arial
}

#eventMenu .hamburger,
#topBox .exchangeBtn:after,
#topBox .exchangeBtn i,
h4:after,
h5:before,
#CONTENT .bigTea img,
#PRIZE h4:before,
#PRIZE .otherBox h5,
#goTop {
    background-repeat: no-repeat;
    background-size: 100% auto
}

#eventMenu .subMenu,
footer .socialBox,
footer .linkBox ul,
#CONTENT .teaList,
#PRIZE .otherBox ul {
    font-size: 0
}

#eventMenu .subMenu:after,
#PRIZE .event01:after,
#PRIZE .event02:after {
    content: '';
    display: block;
    clear: both
}

#eventMenu .hamburger:before,
#topBox .exchangeBtn:after,
#PRIZE .otherBox ul:before {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

#topBox h1,
#topBox h2,
#topBox h3,
#topBox .exchangeBtn,
#PRIZE .otherBox h5 {
    left: 50%;
    transform: translateX(-50%)
}

footer .linkBox ul>li:after,
footer .linkBox ul>li:first-child:before,
footer .linkBox ul>li:nth-child(4):before,
footer .copyright a.privacy:after {
    top: 50%;
    transform: translateY(-50%)
}

@font-face {
    font-family: Belwe-Bold;
    src: local("Belwe Std"), url(font/Belwe-Std-Bold.otf)
}

@font-face {
    font-family: Bliz Quadrata;
    font-weight: 400;
    font-style: normal;
    src: local("Bliz Quadrata"), url(font/Belwe-Std-Bold.otf)
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #cacccb;
    font-size: .3rem;
    font-family: Belwe-Bold, Bliz Quadrata, "Microsoft JhengHei", "Apple LiGothic Medium", DFKai-SB, sans-serif;
    background-color: #132330
}

header,
nav,
figure,
article,
section,
footer,
aside,
hgroup {
    display: block
}

h2 {
    font-size: 1rem
}

h3 {
    font-size: .8rem
}

h4 {
    font-size: 1.1rem;
    color: #b79c7a;
	letter-spacing: 3px;
    font-weight: bold;
    margin-bottom: .8rem;
    background: -webkit-linear-gradient(#b79c7a, #b79c7a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

h5 {
    font-size: .6rem;
    color: #99855b;
    letter-spacing: 1px;
    margin-bottom: .2rem;
    background: -webkit-linear-gradient(#99855b, #99855b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

h6 {
    font-size: .4rem;
}

li {
    list-style-type: none
}

a {
    color: #333;
    text-decoration: none
}



img {
    vertical-align: bottom;
    border: none
}

table {
    border-collapse: collapse
}

address {
    font-style: normal
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none
}

iframe {
    border: none
}

.sp {
    display: block
}

.pc {
    display: none
}

@media (min-width: 765px) {
    .ttxtt{padding: 0 5rem 0 0;}
    .sp {
        display: none
    }

    .pc {
        display: inline-block;
        vertical-align: middle
    }
    
    #warning::before{
        content:'';
        width:0;
        height:100%;
        display:inline-block;
        position:relative;
        vertical-align:middle;
    }
    
    #warning {
        font-size: 1rem;
    }
    
    #warning img {
        width: 1.4rem;
        letter-spacing: 3px;
    }

    .phoneBr {
        height: 0;
        display: inline-block;
    }
}

html {
    font-size: calc(100vw / 9.6)
}

@media (min-width: 765px) {
    html {
        font-size: calc(100vw / 20)
    }

    h4 {
        font-size: 1.2rem
    }

    h5 {
        font-size: .6rem
    }

    h6 {
        font-size: .4rem
    }

    p,
    li {
        font-size: .3rem
    }

}

@media (min-width: 1000px) {.ttxtt{padding: 0 2rem 0 0;}
 p,
    li {
        font-size: .35rem;
    
    }    

    html {
        font-size: calc(100vw / 25)
    }

    h4 {
        font-size: 1.2rem
    }

    h5 {
        font-size: .6rem
    }

    h6 {
        font-size: .4rem
    }

}

@media (min-width: 1920px) {
    .ttxtt{padding: 0 3.5rem 0 0;}
    html {
        font-size: calc(100vw / 30)
    }

    h4 {
        font-size: 1.15rem
    }

    h5 {
        font-size: .6rem
    }

    h6 {
        font-size: .4rem
    }

    p,
    li {
        font-size: .35rem
    }
}

@media (min-width: 2300px) {

    html {
        font-size: calc(100vw / 35)
    }

    h4 {
        font-size: 1rem
    }

    h5 {
        font-size: .6rem
    }

    h6 {
        font-size: .4rem
    }

    p,
    li {
        font-size: .32rem
    }
}

#eventMenu .wrap {
    position: relative;
    width: 100%
}

#eventMenu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999999;
    user-select: none
}
.otherBox ul {
    width: 88%;
    margin: 0 auto;
}

.otherBox ul li{
    display: inline-block;
    background: #c8cabf;
    border: 5px solid #373536;
    padding: 0.1rem;
    width: 49%;
    margin:0.5%;
}
.otherBox ul li img{
    margin-bottom:0px;
}
.otherBox ul li p {
    font-size: .2rem;
    line-height: .5rem;
    font-weight: bold;
    padding-bottom: 5px;
}
/* .otherBox ul:nth-child(1) li:nth-child(1){
    width: 32%;
    margin:0.5%;
}

.otherBox ul:nth-child(1) li:nth-child(2){
    width: 32%;
    margin:0.5%;
}
.otherBox ul:nth-child(1) li:nth-child(3){
    width: 32%;
    margin:0.5%;
}

.otherBox ul:nth-child(2) li{
    width: 32%;
    margin:0.5%;
} */

#eventMenu .topBar {
    width: 100%;
    height: 48px;
    position: relative;
    z-index: 2
}

#eventMenu .mainNav {
    z-index: 50;
    width: 100%
}

#eventMenu .subMenu {
    width: 100%;
    text-align: left;
    padding-top: 2rem
}

#eventMenu .subMenu a {
    width: 100%;
    height: 86px;
    line-height: 86px;
    color: white;
    vertical-align: top;
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2)
}

#eventMenu .subMenu a.share {
    border: none
}

#eventMenu .subMenu a.share:after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background-size: 80% auto;
    background-repeat: no-repeat;
    background-position: center;
    /* background-image: url(../img/FB.png); */
    margin-left: 6px;
    margin-bottom: 10px;
    border-radius: 3px;
    /* border: 1px solid rgba(255, 255, 255, 0.4) */
}

#eventMenu .subMenu a.current {
    color: white;
    background-color: rgba(101, 5, 2, 1);
    background-image: none
}

#eventMenu .subMenu a.comingSoon:hover {
    cursor: default
}

#eventMenu .hamburger {
    display: block;
    width: 55px;
    height: 55px;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 3px;
    user-select: none;
    z-index: 99999999;
    transition: all .3s;
    background-position: center;
    background-image: url('../img/humburgerBG.png');
    filter: drop-shadow(0 1px 7px rgba(0, 0, 0, 0.7))
}

#eventMenu .hamburger:before {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: yellow;
    -moz-transition: all, .6s;
    -o-transition: all, .6s;
    -webkit-transition: all, .6s;
    transition: all, .6s;
    filter: saturate(1) blur(4px) opacity(0)
}

#eventMenu .hamburger i,
#eventMenu .hamburger i:before,
#eventMenu .hamburger i:after {
    position: absolute;
    width: 18px;
    height: 2px;
    transition: all .5s;
    background-color: #fff;
}

#eventMenu .hamburger i:before,
#eventMenu .hamburger i:after {
    content: ''
}

#eventMenu .hamburger i {
    top: 50%;
    right: 20px
}

#eventMenu .hamburger i:before {
    top: -7px
}

#eventMenu .hamburger i:after {
    top: 7px
}

#eventMenu .hamburger.on:before {
    width: 40px;
    height: 40px;
    filter: saturate(3) blur(10px) opacity(0.7)
}

#eventMenu .hamburger.on i {
    background-image: none;
    background-color: transparent;
    box-shadow: none;
    right: 16px
}

#eventMenu .hamburger.on i:before {
    transform: rotate(45deg) translateY(10px);
    width: 25px
}

#eventMenu .hamburger.on i:after {
    transform: rotate(-45deg) translateY(-10px);
    width: 25px
}

@media (min-width: 765px) {
    #eventMenu .hamburger {
        display: none
    }

    .otherBox ul > li {
        width: 32%;
    }

    /* .otherBox ul:nth-child(1) li:nth-child(1){
        width: 32%;
        margin:0.5%;
    }
    .otherBox ul:nth-child(1) li:nth-child(2){
        width: 32%;
        margin:0.5%;
    }
    .otherBox ul:nth-child(1) li:nth-child(3){
        width: 32%;
        margin:0.5%;
    } */
}

#eventMenu .navigation {
    opacity: 0;
    transition: all .8s;
    position: relative;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    margin-top: -100%;
    margin-bottom: 48px;
    background-color: rgba(0, 0, 0, 0.9)
}

#eventMenu .navigation .wrap {
    padding-top: 0 !important;
    position: relative;
    padding-top: 2.14729rem
}

#eventMenu .navigation.show {
    opacity: 1;
    margin-top: 0%;
    margin-bottom: 0;
    height: 100vh
}

#eventMenu .navigation.hide {
    height: 1px
}

@media (min-width: 765px) {
    #eventMenu {
        width: 3rem;
        height: 100%;
        left: inherit;
        right: 0
    }

    #eventMenu .wrap {
        position: relative;
        height: 100vh
    }

    #eventMenu .wrap:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: -100%;
        width: 120%;
        height: 100%;
        transition: all .5s;
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQxMzExOSIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0MTMxMTkiIHN0b3Atb3BhY2l0eT0iMC41Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
        background-size: 100%;
        background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(101, 5, 2, 0)), color-stop(100%, rgba(101, 5, 2, 0.5)));
        background-image: -moz-linear-gradient(left, rgba(101, 5, 2, 0), rgba(101, 5, 2, 0.5));
        background-image: -webkit-linear-gradient(left, rgba(101, 5, 2, 0), rgba(101, 5, 2, 0.5));
        background-image: linear-gradient(to right, rgba(101, 5, 2, 0), rgba(101, 5, 2, 0.5))
    }

    #eventMenu .wrap:hover:before {
        right: 0
    }

    #eventMenu .topBar {
        display: none
    }

    #eventMenu:after {
        content: '';
        display: block;
        width: 100%;
        height: 84px;
        position: absolute;
        top: 0;
        z-index: 50;
        pointer-events: none
    }

    #eventMenu .mainNav {
        z-index: 50;
        background-color: transparent
    }

    #eventMenu .subMenu {
        padding-top: 0;
        text-align: center;
        background-color: transparent;
        border-top: none
    }

    #eventMenu .navigation {
        opacity: 1;
        background-color: transparent;
        width: 100%;
        position: absolute;
        top: 0;
        margin-top: 0%;
        margin-bottom: 0;
        overflow: visible
    }

    #eventMenu .navigation .wrap .subMenu {
        position: absolute;
        height: auto;
        top: 50%;
        transform: translateY(-50%)
    }

    #eventMenu .navigation .wrap .subMenu>a {
        font-size: .36rem;
        height: 1rem;
        line-height: 1.1rem;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        font-weight: 600;
        position: relative;
        text-shadow: 0px 0px 6px rgba(35,23,7,0.8), 2px 0px 6px rgba(35,23,7,0.8), 0px 2px 6px rgba(35,23,7,0.8);
       
        z-index: 0
    }

    #eventMenu .navigation .wrap .subMenu>a:before {
        content: '';
        position: absolute;
        left: 100%;
        top: 0;
        width: 100%;
        height: 1rem;
        transition: all .3s;
        z-index: -1
    }

    #eventMenu .navigation .wrap .subMenu>a.current:before {
        left: 0%;
        background-color: rgba(101, 5, 2, 0.9);
    }

    #eventMenu .navigation .wrap .subMenu>a:hover {
        transition: all .3s;
        left: 0%;
        background-color: rgba(101, 5, 2, 0.5);
    }
}

@media (min-width: 1920px) {
    #eventMenu .navigation .wrap .subMenu>a {
        font-size: .32rem;
        height: 1rem;
        line-height: 1.1rem
    }

    #eventMenu .navigation .wrap .subMenu>a:before {
        height: 1rem
    }
}

#topBox {
    background-position: center top;
    background-image: url('../img/topBG_sp.jpg');
    height: 13rem;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #e9d8ac;
    overflow: hidden
}

#topBox .wrap {
    position: relative;
    margin-top: 0rem
}

#topBox h1 {
    top: 0.5rem;
    display: none;
}

#topBox h1 a {
    background-image: url('../img/D4logoBeer.png');
    width:8rem;
    height: rem;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

#topBox h2 {
    top: 8.2rem;
    background-image: url('../img/mainTitle.png');
    width:9rem;
    height: 3.2rem;
    background-size: 100% auto;
    background-repeat: no-repeat
}

#topBox h3 {
    top: 4.85rem;
    background-image: url('../img/subTitle.png');
    width: 6.2779rem;
    height: 1.13611rem;
    background-size: 100% auto;
    background-repeat: no-repeat
}

#topBox .exchangeBtn {
    top: 10rem;
    background-image: url('../img/exchangeBtn.png');
    width: 4.93291rem;
    height: 2.74658rem;
    background-size: 100% auto;
    background-repeat: no-repeat;
    transition: all .6s;
    filter: brightness(100%) drop-shadow(0 0 5px rgba(0, 0, 0, 0.5))
}

#topBox .exchangeBtn:after {
    width: 110%;
    height: 110%;
    transition: all 1.2s;
    background-image: url('../img/exchangeBtn_vine.png');
    filter: brightness(130%) drop-shadow(0 1px 5px rgba(0, 0, 0, 0.5))
}

#topBox .exchangeBtn:hover {
    filter: brightness(130%) drop-shadow(0 5px 15px rgba(0, 0, 0, 0.8))
}

#topBox .exchangeBtn:hover:after {
    width: 105%
}

#topBox .exchangeBtn i {
    display: block;
    overflow: hidden;
    top: .4rem;
    left: .78rem;
    width: 3.4rem;
    height: 1.8rem;
    border-radius: 4px;
    background-image: url('../img/exchangeBtn02.png');
    animation-duration: 1.5s;
    animation-name: haha;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite
}

#topBox .exchangeBtn i:before {
    animation-duration: 4s;
    animation-name: flash;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    top: 50%;
    left: -130%;
    transform: rotate(30deg) translateY(-50%);
    width: 2rem;
    height: 5rem;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjUiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.5)), color-stop(100%, rgba(255, 255, 255, 0)));
    background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%)
}

@keyframes haha {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(1.05)
    }

    100% {
        transform: scale(1)
    }
}

@keyframes flash {
    0% {
        left: -130%
    }

    40% {
        left: 130%
    }

    50% {
        left: -130%;
        opacity: 0
    }

    100% {
        left: -130%
    }
}

/* 平板 */
@media (min-width: 765px) {
    

    .otherBox ul li p {
        font-size: 0.3rem;
    }

    #topBox {
        height: 12rem;
        background-image: url('../img/topBG.jpg?1524541795');
        background-size: 125% auto
    }

    #topBox .wrap {
        margin-top: 0rem;
        left: -15em;
        transform: translateX(0)
    }

    #topBox h1 {
        top: 0.2rem;
        display: block;
    }

    #topBox h1 a {
        background-image: url('../img/D4logoBeer.png');
        width: 8.5rem;
        height: 10rem;
        background-size: 100% auto;
        background-repeat: no-repeat
    }

    #topBox h2 {
        top: 7.7rem;
        background-image: url('../img/mainTitle.png');
        width: 8rem;
        height: 3rem;
        background-size: 100% auto;
        background-repeat: no-repeat;
    }

    #topBox h3 {
        top: 5rem;
        left: 2em;
        background-image: url('../img/subTitle.png');
        width: 6.2779rem;
        height: 1.13611rem;
        background-size: 100% auto;
        background-repeat: no-repeat
    }

    #topBox .exchangeBtn {
        top: 9.5rem;
        background-image: url('../img/exchangeBtn.png');
        width: 4.5rem;
        height: 2.35421rem;
        background-size: 100% auto;
        background-repeat: no-repeat
    }

    #topBox .exchangeBtn i {
        top: .35rem;
        left: .72rem;
        width: 3.1rem;
        height: 1.6rem
    }

    #topBox .exchangeBtn i:before {
        width: 1.6rem;
        height: 5rem
    }

    .otherBox .list_top{
        height: 3.9rem;
    }

    .otherBox .list{
        padding: 0.3rem 0 0rem 0;
    }

    .otherBox .list_bottom{
         height: 1rem;
    }
}

/* PC */
@media (min-width: 1000px) {
    #topBox {
        height: 14rem;
        background-size: 115% auto
    }

    #topBox .wrap {
        margin-top: 0.2rem;
        left: -20em;
    }

    #topBox h1 {
        top: 0.7rem;
    }

    #topBox h1 a {
        background-image: url('../img/D4logoBeer.png');
        width: 8.5rem;
        height: 10rem;
        background-size: 100% auto;
        background-repeat: no-repeat
    }

    #topBox h2 {
        top: 7.7rem;
        background-image: url('../img/mainTitle.png');
        width: 8rem;
        height: 3rem;
        background-size: 100% auto;
        background-repeat: no-repeat;
    }

    #topBox h3 {
        top: 5rem;
        left: 2em;
        background-image: url('../img/subTitle.png');
        width: 6.2779rem;
        height: 1.13611rem;
        background-size: 100% auto;
        background-repeat: no-repeat
    }

    #topBox .exchangeBtn {
        top: 10rem;
        background-image: url('../img/exchangeBtn.png');
        width: 4.8rem;
        height: 2.5rem;
        background-size: 100% auto;
        background-repeat: no-repeat;
    }

    #topBox .exchangeBtn i {
        top: 0.35rem;
        left: .7rem;
        width: 3.4rem;
        height: 1.8rem
    }

    #topBox .exchangeBtn i:before {
        width: 1.6rem;
        height: 5rem
    }

    .otherBox .list_top{
        height: 4.6rem;
    }

    .otherBox .list{
        padding: 0.3rem 0 0rem 0;
    }

    .otherBox .list_bottom{
         height: 1rem;
    }
}

@media (min-width: 1920px) {
    /*#topBox {*/
    /*    height: 15rem;*/
    /*    background-size: 100% auto*/
    /*}*/

    /*#topBox .wrap {*/
    /*    margin-top: 0.2rem*/
    /*}*/

    /*#topBox h1 a {*/
    /*    top: 0;*/
    /*    background-image: url('../img/HearthStone_logo.png');*/
    /*    width: 10rem;*/
    /*    height: 3rem;*/
    /*    background-size: 100% auto;*/
    /*    background-repeat: no-repeat*/
    /*}*/

    /*#topBox h2 {*/
    /*    top: 7rem;*/
    /*    background-image: url('../img/mainTitle.png');*/
    /*    width: 9.5rem;*/
    /*    height: 4rem;*/
    /*    background-size: 100% auto;*/
    /*    background-repeat: no-repeat*/
    /*}*/

    /*#topBox h3 {*/
    /*    top: 5.8rem;*/
    /*    background-image: url('../img/subTitle.png');*/
    /*    width: 6.53948rem;*/
    /*    height: 1.18345rem;*/
    /*    background-size: 100% auto;*/
    /*    background-repeat: no-repeat*/
    /*}*/

    /*#topBox .exchangeBtn {*/
    /*    top: 9rem;*/
    /*    background-image: url('../img/exchangeBtn.png');*/
    /*    width: 5rem;*/
    /*    height: 2.6rem;*/
    /*    background-size: 100% auto;*/
    /*    background-repeat: no-repeat*/
    /*}*/

    /*#topBox .exchangeBtn i {*/
    /*    top: .39rem;*/
    /*    left: .75rem;*/
    /*    width: 3.5rem;*/
    /*    height: 1.8rem*/
    /*}*/

    /*#topBox .exchangeBtn i:before {*/
    /*    width: 1.6rem;*/
    /*    height: 5rem*/
    /*}*/
}

footer {
    font-family: Blizzard, Arial, Helvetica, Segoe UI Symbol, Segoe MDL2 Assets, 微軟正黑, Microsoft JhengHei, Tei TC, sans-serif;
    position: relative
}

footer .wrap {
    padding: 0;
    z-index: 88
}

footer .socialBox {
    background-color: #E8D6A8
}

footer .socialBox:before {
    width: 100%;
    height: 40px;
    top: -40px;
    background-position: center top;
    background-repeat: repeat-x;
    /* background-image: url('../img/paperEdge.png') */
}

footer .socialBox h6 {
    color: #1A0E07;
    font-size: 24px;
    margin-bottom: 15px
}

footer .socialBox a[class^="icon_"] {
    width: 60px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center 8px;
    background-size: auto 100%;
    -moz-transition: all, .3s;
    -o-transition: all, .3s;
    -webkit-transition: all, .3s;
    transition: all, .3s
}

footer .socialBox a[class^="icon_"]:hover {
    background-position: center top
}

footer .socialBox .icon_facebook {
    margin-right: 10px;
    background-image: url('../img/icon_facebook.png')
}

footer .socialBox .icon_youtube {
    background-image: url('../img/icon_youtube.png')
}

footer .logoBox {
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #000000;
    background-position: center top;
    background-repeat: repeat-x;
    background-image: url('../img/footerBG_top.jpg')
}

footer .logoBox .NavbarFooter-logo {
    display: block;
    position: relative;
    width: 150px;
    height: 50px;
    margin: 0 auto 30px
}

footer .logoBox .NavbarFooter-logo svg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    fill: currentColor;
    pointer-events: none;
    -webkit-transition: color .2s, background-color .2s;
    transition: color 0.2s, background-color 0.2s
}

footer .logoBox .NavbarFooter-logo .NavbarFooter-logoUpper {
    color: #00aeff
}

footer .logoBox .NavbarFooter-logo .NavbarFooter-logoLower {
    color: #fff
}

footer .logoBox .NavbarFooter-logo:hover .NavbarFooter-logoUpper {
    color: #00c6ff
}

footer .linkBox {
    padding-top: 28px;
    height: 120px;
    background-size: auto 100%;
    background-color: #1a0e07;
    background-position: center top;
    background-repeat: repeat-x;
    background-image: url('../img/footerBG_middle.jpg?1524046714')
}

footer .linkBox ul>li {
    position: relative;
    width: 30%
}

footer .linkBox ul>li:after {
    right: 0;
    width: 1px;
    height: 10px;
    background-color: #5E5754
}

footer .linkBox ul>li:first-child:before,
footer .linkBox ul>li:nth-child(4):before {
    left: 0;
    width: 1px;
    height: 10px;
    background-color: #5E5754
}

footer .linkBox ul>li a {
    display: block;
    line-height: 30px;
    height: 30px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px
}

footer .linkBox ul>li a:hover {
    color: #fff
}

@media (min-width: 765px) {
    footer .linkBox {
        padding-top: 18px;
        height: 74px
    }

    footer .linkBox ul>li {
        width: inherit;
        padding-left: 20px;
        padding-right: 20px
    }

    footer .linkBox ul>li:nth-child(4):before {
        display: none
    }
}

footer .copyright {
    padding-top: 20px;
    padding-bottom: 80px;
    background-position: center bottom;
    background-repeat: repeat-x;
    background-image: url('../img/footerBG_bottom.jpg');
    background-color: #000000
}

footer .copyright .wrap {
    width: 100%
}

footer .copyright p,
footer .copyright a {
    font-size: 12px
}

footer .copyright p {
    color: rgba(255, 255, 255, 0.3)
}

footer .copyright a {
    color: rgba(255, 255, 255, 0.7);
    position: relative;
    width: 40px
}

footer .copyright a:hover {
    color: #fff
}

footer .copyright a.privacy {
    width: 45px
}

footer .copyright a.privacy:after {
    right: 0;
    width: 1px;
    height: 10px;
    background-color: #5E5754
}

footer .copyright .classImg {
    margin-top: 20px;
    margin-bottom: 2rem;
    width: 65px;
    height: 65px;
    background-image: url('../img/class.jpg')
}

main {
    background-color: #e9d8ac;
    background-image: url('../img/contentBG.jpg');
    background-position: center top;
    background-size: 100% auto;
    overflow: hidden
}

@media (min-width: 765px) {
    main {
        background-size: 125% auto
    }
}

@media (min-width: 1000px) {
    main {
        background-size: 115% auto
    }
}

@media (min-width: 1920px) {
    main {
        background-size: 100% auto
    }
}

section {
    padding-top: .1rem;
    margin-bottom: 1rem
}

h4:after {
    content: '';
    display: block;
    width: 100%;
    height: .2rem;
    margin-top: .4rem;
    background-image: url('../img/hr.png')
}

h5:before {
    content: '';
    width: .9rem;
    height: .9rem;
    margin-right: .2rem;
    background-image: url('../img/listImg.png');
    vertical-align: middle
}

#CONTENT {
    padding-top: 0rem
}

#CONTENT .event01,
#CONTENT .event02 {
    margin-bottom: 1rem
}

#CONTENT .event01 p,
#CONTENT .event02 p {
    text-align: justify
}

#CONTENT .bearImg img {
    width: 100%;
}

#CONTENT .event02 {
    margin-bottom: .4rem
}

#CONTENT .event02 .ss {
    top: -0.4rem;
    left: 4rem;
    background-image: url('../img/ss.png');
    width: 4.12333rem;
    height: 1rem;
    background-size: 100% auto;
    background-repeat: no-repeat
}

#CONTENT .bigTea {
    margin-bottom: .5rem;
    transform: translateX(0rem);
    padding-top: 6rem;
    padding-left: 1.2rem;
    font-size: .3rem;
    font-weight: bold;
    background-image: url('../img/bigTea.png');
    width: 8.5062rem;
    height: 10rem;
    background-size: 100% auto;
    background-repeat: no-repeat
}

#CONTENT .teaList>li {
     margin:0 .1rem .3rem .1rem;
     width: 30%
}

#CONTENT .teaList>li img {
    width: 100%;
    
}

@media (min-width: 765px) {

    #CONTENT {
        padding-top: 1rem
    }

    #CONTENT .event01,
    #CONTENT .event02 {
        padding-right: 0
    }

    #CONTENT .event02 {
        margin-bottom: .4rem
    }

    #CONTENT .event02 .ss {
        top: -0.2rem;
        left: 9.3rem;
        background-image: url('../img/ss.png');
        width: 4rem;
        height: 6rem;
        background-size: 100% auto;
        background-repeat: no-repeat
    }

    #CONTENT .bigTea {
        margin-bottom: .5rem;
        padding-left: 1.3rem;
        padding-top: 5.9rem;
        transform: translateX(3.8rem);
        background-image: url('../img/bigTea.png');
        width: 8.5062rem;
        height: 10rem;
        background-size: 100% auto;
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        top: 0rem
    }

    #CONTENT .teaList {
        padding-top: .5rem
    }

    #CONTENT .teaList>li {
         margin:0 .5rem .3rem .5rem;
        width: 25%
    }

    #CONTENT .teaList>li img {
        
        width: 100%
    }
    .tea1{text-align: center;margin-left: 0rem;}
    .tea1 img{width: 23%;float: left;margin: 0.1rem;}
}

@media (min-width: 1000px) {
    .tea1{text-align: center;margin-left: 0rem;}
    .tea1 img{width: 23%;float: left;margin: 0.1rem;}

    #CONTENT .event01,
    #CONTENT .event02 {
        margin-bottom: .4rem
    }

    #CONTENT .bigTea {
        margin-bottom: .5rem;
        padding-left: 1.4rem;
        transform: translateX(3rem);
        background-image: url('../img/bigTea.png');
        width: 7rem;
        height: 8rem;
        background-size: 100% auto;
        background-repeat: no-repeat;
        top: 0rem;
        right: -2rem;
    }

    #CONTENT .teaList>li {
        margin:0 .5rem .3rem .5rem;
        width: 25%
    }

    #CONTENT .teaList>li img {
        margin-bottom: 0.1rem;
        width: 100%
    }
}

@media (min-width: 1920px) {
.tea1{text-align: center;margin-left: 0rem;}
    .tea1 img{width: 19%;}    
    #CONTENT .bigTea {
        top: .5rem;
        padding-top: 5.5rem;
        padding-left: 1.2rem;
        transform: translateX(2.65rem);
        max-width: 581px;
        background-image: url('../img/bigTea.png');
        width: 8rem;
        height: 9rem;
        background-size: 100% auto;
        background-repeat: no-repeat
    }

    #CONTENT .teaList {
        padding-top: .2rem
    }

    #CONTENT .teaList>li {
         margin:0 .3rem .3rem .3rem;
        width: 22%
    }

    #CONTENT .teaList>li img {
       
        width: 100%
    }
}

@media (min-width: 2300px) {
    #CONTENT .bigTea {
        top: 2.9rem;
        padding-top: 5.65rem;
        padding-left: 1.4rem;
        margin-bottom: .5rem;
        transform: translateX(2.4rem);
        background-image: url('../img/bigTea.png');
        width: 10.20744rem;
        height: 8.27488rem;
        background-size: 100% auto;
        background-repeat: no-repeat
    }

    #CONTENT .teaList {
        padding-top: .6rem
    }

    #CONTENT .teaList>li {
        margin-bottom: .3rem;
        width: 16.5%
    }

    #CONTENT .teaList>li img {
        margin-bottom: 0.1rem;
        width: 70%
    }
}

#PRIZE {
    padding-top: .4rem
}

#PRIZE h5+p {
    padding-left: 1rem;
    margin-bottom: .5rem
}

#PRIZE .event01 {
    margin-bottom: .6rem
}

#PRIZE h4:before {
    content: '';
    width: 2rem;
    height: 2rem;
    margin-right: .35rem;
    background-image: url('../img/prize_subIMG.png?1524723800');
    width: 2.43718rem;
    height: 2.75927rem;
    background-size: 100% auto;
    background-repeat: no-repeat
}

#PRIZE h4 span {
    font-size: .3rem;
    display: block;
    margin-top: -.7rem;
    padding-left: 2.8rem
}

#PRIZE .bestPrize {
    margin-bottom: .5rem;
    background-image: url('../img/bestPrize01.png');
    width: 6.41259rem;
    height: 7.52528rem;
    background-size: 100% auto;
    background-repeat: no-repeat
}

#PRIZE .event01 .bestPrize {
    background-image: url('../img/bestPrize01.png')
}

#PRIZE .event02 .bestPrize {
    background-image: url('../img/bestPrize02.png');
    padding-bottom: 1.75rem;

}

#PRIZE table {
    margin-bottom: .5rem;
    width: 80%;
    border: 1px solid #99743a;
    border-right: none
}

#PRIZE table+p {
    margin-top: .5rem;
    margin-bottom: .8rem
}

#PRIZE table tr {
    color: #4f1a12;
    background-color: #f19683;
}

#PRIZE table tr:nth-child(even) {
    background-color: #ffc5b1;
}

#PRIZE table th,
#PRIZE table td {
    font-weight: bold;
    padding: 5px 0px;
    border-right: 1px solid #c61b0f
}

#PRIZE table th {
    color: #ffb2a7;
    background-color: #c61b0f;
}

#PRIZE table td:first-child {
    font-weight: bold;
}

#PRIZE table td span {
    font-size: .51rem;
}

#PRIZE .emphList {
    color: #fff;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, rgba(158, 1, 1, 0) 0%,  rgba(158, 1, 1, 0.5) 50%, rgba(158, 1, 1, 0) 100%);
    border-image-slice: 1;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IiIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk5NzQzYSIgc3RvcC1vcGFjaXR5PSIwLjMiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5OTc0M2EiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9yYWRpYWxHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background-size: 100%;
    background-image: -moz-radial-gradient(center, circle, rgba(158, 1, 1, 0.3), rgba(158, 1, 1, 0));
    background-image: -webkit-radial-gradient(center, circle, rgba(158, 1, 1, 0.3), rgba(158, 1, 1, 0));
    background-image: radial-gradient(circle at center, rgba(158, 1, 1, 0.3), rgba(158, 1, 1, 0));
    padding: .4rem .2rem .4rem .4rem;
    clear: both
}

#PRIZE .emphList li {
    list-style: disc;
    margin-bottom: .2rem;
    font-size: .2rem;
    text-align: justify
}

#PRIZE .emphList li:last-child {
    margin-bottom: 0
}

@media (min-width: 765px) {
    #PRIZE table td {
        padding: 5px;
    }
    #PRIZE {
        padding-top: 0
    }

    #PRIZE h5 {
        float: left
    }

    #PRIZE h5+p {
        padding-left: .6rem;
        padding-top: .24rem;
        margin-bottom: .5rem;
        float: left;
        font-weight: bold
    }

    #PRIZE h4:before {
        margin-left: -1rem;
        margin-right: .4rem;
        background-image: url('../img/prize_subIMG.png?1524723800');
        width: 3.54498rem;
        height: 4.01348rem;
        background-size: 100% auto;
        background-repeat: no-repeat
    }

    #PRIZE h4 span {
        font-size: .4rem;
        padding-left: 3rem;
        margin-top: -1.4rem
    }

    #PRIZE .event01,
    #PRIZE .event02 {
        margin-bottom: 1.5rem
    }

    #PRIZE .bestPrize {
        margin-bottom: .5rem;
        clear: both;
        background-image: url('../img/bestPrize01.png');
        width: 6.41259rem;
        height: 7.52528rem;
        background-size: 100% auto;
        background-repeat: no-repeat;
        float: left;
        margin-left: .3rem
    }

    #PRIZE table {
        float: right;
        margin-top: 0;
        margin-right: .4rem;
        margin-bottom: .5rem;
        width: 5.5rem
    }

    #PRIZE table+p {
        margin-top: .5rem;
        margin-bottom: .8rem
    }

    #PRIZE table th,
    #PRIZE table td {
        padding: 8px
    }

    #PRIZE table td span {
        font-size: .51rem
    }

    #PRIZE .emphList {
        padding: .4rem .7rem .4rem .7rem
    }
}

@media (min-width: 1000px) {
    #PRIZE h5+p {
        padding-top: .3rem
    }

    #PRIZE h4:before {
        margin-left: -1rem;
        margin-right: .4rem;
        background-image: url('../img/prize_subIMG.png?1524723800');
        width: 3.54498rem;
        height: 4.01348rem;
        background-size: 100% auto;
        background-repeat: no-repeat
    }

    #PRIZE h4 span {
        font-size: .4rem;
		letter-spacing: 0px;
        padding-left: 3rem;
        margin-top: -1.5rem
    }

    #PRIZE .bestPrize {
    	margin: 0 0 5% 0;
        background-image: url('../img/bestPrize01.png');
        width: 7.2rem;
        height: 7.7rem;
        background-size: 100% auto;
        background-repeat: no-repeat
    }

    #PRIZE table {
        margin-top: 1.2rem;
        width: 7rem
    }

    #PRIZE .emphList li {
        margin-bottom: .1rem;
        font-size: .3rem
    }
}

@media (min-width: 1920px) {
    #PRIZE h4:before {
        margin-right: .3rem
    }

    #PRIZE h4 span {
        padding-left: 3rem;
        margin-top: -1.45rem
    }

    #PRIZE .bestPrize {
        margin-left: -1rem;
        background-image: url('../img/bestPrize01.png');
        width: 8rem;
        height: 9rem;
        background-size: 100% auto;
        background-repeat: no-repeat
    }

    #PRIZE table {
        width: 6.5rem;
        margin-right: 1rem
    }

    #PRIZE table th,
    #PRIZE table td {
        padding: 8px;
        font-size:.27rem;
    }

    #PRIZE .emphList {
        padding-left: 1rem
    }

    #PRIZE .emphList li {
        margin-bottom: .1rem;
        font-size: .3rem
    }
}

@media (min-width: 2300px) {.car1{display: none;}
.car2{display: none;}
.car3{display: none;}
.car4{display: none;}
    #PRIZE h4:before {
        margin-right: .5rem
    }

    #PRIZE h4 span {
        padding-left: 3rem;
        margin-top: -1.45rem
    }

    #PRIZE .bestPrize {
        margin-left: .9rem;
        background-image: url('../img/bestPrize01.png');
        width: 5.77133rem;
        height: 6.77275rem;
        background-size: 100% auto;
        background-repeat: no-repeat
    }

    #PRIZE table {
        width: 6.5rem;
        margin-top: .3rem;
        margin-right: 1.7rem
    }
}

#NOTICE {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
    overflow: hidden;
    box-shadow: inset 0 20px 100px rgba(0, 0, 0, 0.4);
    background-image: url('../img/notice_bg.jpg');
    background-size: 100%;
    /* background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #08202e), color-stop(50%, #214359), color-stop(100%, #08202e));
    background-image: -moz-linear-gradient(top, #08202e, #214359, #08202e);
    background-image: -webkit-linear-gradient(top, #08202e, #214359, #08202e);
    background-image: linear-gradient(to bottom right, #08202e, #214359, #08202e) */
}

#NOTICE h4 {
    background: -webkit-linear-gradient(#FFF, #d3d3d3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

#NOTICE h4:after {
    filter: brightness(1)
}

#NOTICE ol {
    padding-left: .4rem;
    padding-bottom: 1rem
}

#NOTICE ol>li {
    color: #bbc1cc;
    font-size: .25rem;
    line-height: 1.7;
    margin-bottom: .4rem;
    text-align: justify;
    list-style-type: decimal;
    font-weight: normal;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    font-family: '微軟正黑體'
}

#NOTICE ol>li a {
    color: #569be1;
    border-bottom: 1px solid #2068b1
}

#NOTICE ol>li a:hover {
    color: #81b5e9;
    border-bottom-color: #81b5e9
}

#NOTICE ol>li.emph {
    color: #25c685
}

#NOTICE:before {
    content: '';
    display: block;
    width: 100%;
    height: 1rem;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: url('../img/contentBG_bottom.png');
    background-size: 100% auto;
    top: 0
}

@media (min-width: 765px) {
    #NOTICE:before {
        background-size: 125% auto
    }
}

@media (min-width: 1000px) {
    #NOTICE:before {
        background-size: 115% auto
    }
}

@media (min-width: 1920px) {
    #NOTICE:before {
        background-size: 100% auto
    }
}

@media (min-width: 765px) {
    #NOTICE {
        padding-top: 1.5rem
    }
}

#PRIZE .otherBox {
    margin-top: 1.5rem
}

#PRIZE .otherBox h5 {
    -webkit-background-clip: inherit;
    top: -.7rem;
    z-index: 555;
    background-image: url('../img/otherBox_title.png');
    width: 6.25545rem;
    height: 1.52263rem;
    background-size: 100% auto;
    background-repeat: no-repeat
}

#PRIZE .otherBox h5:before {
    display: none
}



#PRIZE .otherBox ul:before {
    z-index: -1;
    width: 92%;
    height: 90%;
    border-radius: 6px;
    background-color: #d9c29c;
    box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.3), 0 0 5px rgba(0, 0, 0, 0.2)
}



#PRIZE .otherBox ul>li:nth-child(3n) {
    margin-right: 0
}

#PRIZE .otherBox ul>li .img {
    margin-bottom: .2rem;
    background-color: #77786a;
    border: 5px solid #77786a
}

#PRIZE .otherBox ul>li .img img {
    width: 100%
}

#PRIZE .otherBox ul>li span {
    font-size: .3rem
}

@media (min-width: 765px) {
    #PRIZE .otherBox {
        margin-top: 2rem
    }

    #PRIZE .otherBox h5 {
        top: -1rem;
        background-image: url('../img/otherBox_title.png');
        width: 7.21783rem;
        height: 1.75688rem;
        background-size: 100% auto;
        background-repeat: no-repeat
    }



    #PRIZE .otherBox ul:before {
        width: 96%;
        height: 90%
    }

    #PRIZE .otherBox ul>li .img {
        margin-bottom: .2rem
    }

}

@media (min-width: 1000px) {

    #PRIZE .otherBox h5 {
        top: -1rem;
        background-image: url('../img/otherBox_title.png');
        width: 6.73664rem;
        height: 1.63975rem;
        background-size: 100% auto;
        background-repeat: no-repeat
    }

   

    #PRIZE .otherBox ul:before {
        width: 96%;
        height: 90%
    }

  

    #PRIZE .otherBox ul>li .img {
        margin-bottom: .2rem
    }

    #PRIZE .otherBox ul>li span {
        font-size: .3rem
    }
}

.otherBox .emph02 {
    padding: 20px 60px;
    border-radius: 50px
}

div[class^="deco"] {
    pointer-events: none
}

.deco01 {
    background-image: url('../img/deco01.png');
    width: 1.89059rem;
    height: 1.29423rem;
    background-size: 100% auto;
    background-repeat: no-repeat;
    bottom: -.4rem;
    left: -.8rem
}

.deco02 {
    background-image: url('../img/deco02.png');
    width: 2.18633rem;
    height: 1.66708rem;
    background-size: 100% auto;
    background-repeat: no-repeat;
    top: 2rem;
    right: -.6rem
}

.deco03 {
    background-image: url('../img/deco03.png');
    width: 2.86956rem;
    height: 2.30931rem;
    background-size: 100% auto;
    background-repeat: no-repeat;
    bottom: 21.7rem;
    left: -.8rem
}

.deco04 {
    background-image: url('../img/deco04.png');
    width: 2.74658rem;
    height: 1.32546rem;
    background-size: 100% auto;
    background-repeat: no-repeat;
    bottom: 8.3rem;
    left: -.8rem
}

.deco05 {
    background-image: url('../img/deco05.png');
    width: 3.8866rem;
    height: 1.8252rem;
    background-size: 100% auto;
    background-repeat: no-repeat;
    bottom: -.7rem;
    right: -.8rem
}

@media (min-width: 765px) {
    .deco01 {
        background-image: url('../img/deco01.png');
        width: 2.18145rem;
        height: 1.49334rem;
        background-size: 100% auto;
        background-repeat: no-repeat;
        bottom: -.5rem;
        left: -1.3rem
    }

    .deco02 {
        background-image: url('../img/deco02.png');
        width: 2.811rem;
        height: 2.14339rem;
        background-size: 100% auto;
        background-repeat: no-repeat;
        top: 4rem;
        right: -.6rem
    }

    .deco03 {
        background-image: url('../img/deco03.png');
        width: 3.68944rem;
        height: 2.96912rem;
        background-size: 100% auto;
        background-repeat: no-repeat;
        bottom: 16.7rem;
        left: -1.5rem
    }

    .deco04 {
        background-image: url('../img/deco04.png');
        width: 2.74658rem;
        height: 1.32546rem;
        background-size: 100% auto;
        background-repeat: no-repeat;
        bottom: 7.2rem;
        left: -.8rem
    }

    .deco05 {
        background-image: url('../img/deco05.png');
        width: 4.23992rem;
        height: 1.99113rem;
        background-size: 100% auto;
        background-repeat: no-repeat;
        bottom: -.1rem;
        right: -1.8rem
    }
}

@media (min-width: 1000px) {
    .deco01 {
        background-image: url('../img/deco01.png');
        width: 2.18145rem;
        height: 1.49334rem;
        background-size: 100% auto;
        background-repeat: no-repeat;
        bottom: -.6rem;
        left: -1.4rem
    }

    .deco02 {
        background-image: url('../img/deco02.png');
        width: 2.811rem;
        height: 2.14339rem;
        background-size: 100% auto;
        background-repeat: no-repeat;
        top: 4.5rem;
        right: -1.5rem
    }

    .deco03 {
        background-image: url('../img/deco03.png');
        width: 3.68944rem;
        height: 2.96912rem;
        background-size: 100% auto;
        background-repeat: no-repeat;
        bottom: 19.8rem;
        left: -1.6rem;
    }

    .deco04 {
        background-image: url('../img/deco04.png');
        width: 2.74658rem;
        height: 1.32546rem;
        background-size: 100% auto;
        background-repeat: no-repeat;
        bottom: 7rem;
        left: -1rem
    }

    .deco05 {
        background-image: url('../img/deco05.png');
        width: 4.23992rem;
        height: 1.99113rem;
        background-size: 100% auto;
        background-repeat: no-repeat;
        bottom: -.1rem;
        right: -2.5rem
    }
}

@media (min-width: 1920px) {
    .deco01 {
        background-image: url('../img/deco01.png');
        width: 2.18145rem;
        height: 1.49334rem;
        background-size: 100% auto;
        background-repeat: no-repeat;
        bottom: -.6rem;
        left: -1.4rem
    }

    .deco02 {
        background-image: url('../img/deco02.png');
        width: 2.811rem;
        height: 2.14339rem;
        background-size: 100% auto;
        background-repeat: no-repeat;
        top: 4.3rem;
        right: -.6rem
    }

    .deco03 {
        background-image: url('../img/deco03.png');
        width: 3.68944rem;
        height: 2.96912rem;
        background-size: 100% auto;
        background-repeat: no-repeat;
        bottom: 12.5rem;
        left: -2.2rem
    }

    .deco04 {
        background-image: url('../img/deco04.png');
        width: 2.74658rem;
        height: 1.32546rem;
        background-size: 100% auto;
        background-repeat: no-repeat;
        bottom: -.4rem;
        left: -1rem
    }

    .deco05 {
        background-image: url('../img/deco05.png');
        width: 4.23992rem;
        height: 1.99113rem;
        background-size: 100% auto;
        background-repeat: no-repeat;
        bottom: 0rem;
        right: -2.5rem
    }
}

@media (min-width: 1000px) {

    .card01,
    .card02 {
        position: absolute;
        z-index: 0;
        transition: all 1s ease-out;
        opacity: 0
    }

    .card01.on,
    .card02.on {
        opacity: 1
    }

    .card01 {
        top: 4rem;
        right: -18rem;
        background-image: url('../img/card01.png');
        width: 8.52084rem;
        height: 7.74977rem;
        background-size: 100% auto;
        background-repeat: no-repeat
    }

    .card01.on {
        right: -9rem;
        top: 8.5rem
    }

    .card02 {
        top: 4rem;
        left: -18rem;
        background-image: url('../img/card02.png');
        width: 11.0771rem;
        height: 10.0747rem;
        background-size: 100% auto;
        background-repeat: no-repeat
    }

    .card02.on {
        left: -12rem;
        top: 8.5rem
    }
}

#topBox {
    position: relative
}

@media (min-width: 765px) {
    #topBox {
        z-index: 0
    }

    #topBox .frontBG {
        width: 100%;
        height: 100%;
        background-size: 125% auto;
        background-position: center bottom;
        background-repeat: no-repeat;
        
    }

    #topBox .cloud01 {
        z-index: -1;
        left: 0;
       top: 0px;
        height: 200px;
        width: 300%;
        animation: cloud_move 150s linear infinite;
        background-image: url('../img/clouds_one.png');
        background-repeat: repeat-x;
        background-position: center 80%
    }
}

@media (min-width: 1000px) {
    #topBox .frontBG {
        background-size: 115% auto
    }

    #topBox .cloud01 {
        background-position: center 80%
    }
}

@media (min-width: 1920px) {
    #topBox .frontBG {
        background-size: 100% auto
    }

    #topBox .cloud01 {
        background-position: center 80%
    }
}

@-webkit-keyframes cloud_move {
    0% {
        left: 0
    }

    100% {
        left: -200%
    }
}

.wrap {
    width: 8rem
}

@media (min-width: 765px) {
    .wrap {
        width: 13rem
    }
}

@media (min-width: 1000px) {
    .wrap {
        width: 15rem
    }
}

@media (min-width: 1920px) {
    .wrap {
        width: 15rem
    }
}

@media (min-width: 2300px) {
    .wrap {
        width: 15.5rem
    }
}

.clearfix {
    clear: both
}

.emph02 {
    vertical-align: middle;
    color: #e4d3ba;
    background-color: rgba(41, 31, 16, 0.5);
    border-radius: 25px;
    padding: 4px 20px 3px;
    font-size: .25rem;
    margin-top: 10px
}

#goTop {
    position: fixed;
    right: .2rem;
    bottom: 11%;
    z-index: 999999999;
    background-image: url('../img/goTop.png');
    width: 62px;
    height: 76px;
    background-size: 100% auto;
    background-repeat: no-repeat
}/*# sourceMappingURL=common.css.map */
@media (max-width: 1000px) {.otherBox ul:nth-child(2) li{
    width: 47%;
    margin:0.5%;
    margin-top: 1%;
}}
@media only screen and (max-width:1200px){
    .car1{display: none;}
    .car2{display: none;}
    .car3{display: none;}
    .car4{display: none;}
}